<div class="row">
  <div class="col-md-9">
    <h3>Assessment Form</h3>
    <hr>
    <p>The assessment form will be here</p>
    <p>
      Step one: select a region <br>
      Step two: assessment questions <br>
      Step three: treatment notes <br>
      Step four: export data.
    </p>
  </div>
  <div class="com-md-3">
    <h3>Diagnosis</h3>
    <hr>
    <ul>
      <li>Diagnosis 1 - 74%</li>
      <li>Diagnosis 2 - 20%</li>
      <li>Diagnosis 3 - 4%</li>
      <li>Diagnosis 4 - 2%</li>
    </ul>
  </div>
</div>
