
<p>
  <strong>Test:</strong>
  <%= @test_confidence.test %>
</p>

<p>
  <strong>Test result:</strong>
  <%= @test_confidence.test_result %>
</p>

<p>
  <strong>Confidence rating:</strong>
  <%= @test_confidence.confidence_rating %>
</p>
