<h1>Settings</h1>
<hr>
<ul>
  <li><a href="<%= admin_users_path %>">Users</a></li>
  <li><a href="<%= admin_regions_path %>">Regions</a></li>
  <li><a href="<%= admin_diagnoses_path %>">Diagnosis</a></li>
  <li>Tests</li>
  <li>Test conclusions</li>
  <li>Test confidences</li>
</ul>
