
<p>
  <strong>Test:</strong>
  <%= @test_conclusion.test %>
</p>

<p>
  <strong>Diagnosis:</strong>
  <%= @test_conclusion.diagnosis %>
</p>

<p>
  <strong>Conclusion rating:</strong>
  <%= @test_conclusion.conclusion_rating %>
</p>
