
<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @test.description %>
</p>

<p>
  <strong>Result type:</strong>
  <%= @test.result_type %>
</p>

<p>
  <strong>Result unit:</strong>
  <%= @test.result_unit %>
</p>
